@{
    ViewData["Title"] = "Home Page";
}
<div class="conatainer">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-danger">
                <div class="panel-heading"> Gummi Bear Kingdom Story</div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed dignissim risus. 
                    Fusce feugiat sit amet orci sit amet placerat. Morbi in lectus libero. Phasellus ut elit porttitor, 
                    vulputate nisl pulvinar, molestie magna. Donec lacus ex, bibendum non semper in, bibendum in enim.
                    Etiam finibus mattis urna ac rutrum. Morbi a nibh a lorem cursus gravida.

                    <p>Vestibulum vel arcu sit amet augue mollis tincidunt. Mauris sit amet justo neque. 
                    Aliquam eget arcu et lacus aliquet dignissim vitae vel erat. Donec sollicitudin libero massa, eget sagittis metus posuere non. 
                    Donec ac tincidunt dui, in vehicula lacus. Vestibulum semper elit sit amet purus sollicitudin, quis laoreet nisi bibendum. 
                    Mauris eu nunc dignissim magna sollicitudin malesuada. Sed rhoncus at nisi eget vehicula.</p>

                    <p>Duis rhoncus lacus libero, eu malesuada massa efficitur nec. Aliquam venenatis eget tortor quis suscipit. 
                    Sed pharetra ut libero ut interdum. Nulla facilisi. Fusce convallis risus sed accumsan mollis. Phasellus laoreet egestas est eu mollis. 
                    Vivamus malesuada malesuada dolor, ut fermentum dui pretium id. Integer dictum sollicitudin velit, at tincidunt odio tincidunt eu. 
                    Maecenas rutrum eget sem eget feugiat. Donec eget mollis ligula, a feugiat tortor. Cras ornare sapien sit amet nisl aliquet euismod. 
                    Nunc at venenatis nibh. Sed et orci interdum, lobortis dui vitae, ultrices nibh. Curabitur sed vehicula velit. 
                    Phasellus ullamcorper eros sapien, in consectetur velit fringilla quis. Duis non varius eros.</p>
                    <p> Suspendisse condimentum, orci et porttitor aliquet, magna justo porta dui, et tincidunt dolor mauris facilisis felis. 
                    Etiam suscipit aliquam tellus ut luctus. Sed ultrices pretium dui, quis consequat nunc pretium eget.
                    Quisque ac nunc scelerisque, porta ipsum in, viverra erat. Mauris sed rutrum orci. Duis elementum a tellus et hendrerit. 
                    Quisque at tellus elit. Maecenas tempus sagittis laoreet. Vivamus et ornare lacus, quis aliquam orci. Mauris viverra mi sed elementum malesuada. 
                    Maecenas aliquam, dolor vel efficitur pulvinar, urna quam luctus sem, eget tempus ipsum libero non magna. In pharetra, libero quis aliquet fringilla, enim augue ornare quam, sed condimentum nulla eros id eros. 
                    Integer tristique orci sed justo tristique sollicitudin. Mauris rhoncus nulla nisl, in sollicitudin turpis vestibulum vel. Sed maximus ex posuere finibus accumsan.
                    <p> Cras tristique varius velit, quis suscipit orci venenatis in. Duis consequat blandit dolor, ut sagittis nulla hendrerit mollis. 
                    Phasellus et nisi vitae purus molestie aliquet. Aliquam erat volutpat. Aenean sit amet commodo dolor, vel imperdiet massa. 
                    Nulla tincidunt enim in volutpat volutpat. In id erat tincidunt, dictum ex eu, blandit justo. Fusce venenatis arcu eu ante ornare tempor. 
                    Nulla nec magna vel metus rutrum semper. Sed dui eros, efficitur sit amet posuere vel, fermentum vel neque. Maecenas faucibus ultricies justo ut maximus. 
                    Nullam magna dolor, ultrices non interdum ac, tincidunt non odio. Sed sagittis lobortis ex, a facilisis lectus tristique a. Vestibulum nisl risus, egestas vitae lobortis a, dictum sodales est.</p>
                </div>
            </div>
        </div>
    </div>
</div>
