@model IEnumerable<CandyStore.Models.Producer>

@{
    ViewData["Title"] = "Candy Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="boxes">
    @foreach (var listProducers in Model)
    {
        <div class="box">
            <div class="imgTemplate">
            </div>
            @Html.DisplayFor(modelProducer => listProducers.Name) 
            <br />
            @Html.ActionLink("View", "Details", new { id = listProducers.ProducerId })
        </div>
    }

</div>
    
