body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 35px;
    padding-right: 35px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
    background: #f06292;
    font-weight:900;
    text-shadow: 3px 3px rgba(98,137,9,.14);
    text-align:center;
    font-size: 20px;
}

.top-head {
    height: 84px;
    background: url(https://cdn6.bigcommerce.com/s-1jnzelj6/product_images/uploaded_images/promo-bar.png?t=1478113380&_ga=1.78603549.828831475.1478175223);
    color: white;
    font-size: 18px;
    font-weight:900;
    text-shadow: 3px 3px rgba(98,137,9,.14);
    text-align:center;
    padding-top: 25px;
}
.middle-head {
    height: 145px;
    background: white;
}
.logo {
    margin: auto;
    padding: 10px;
    border: 2px solid  black;
    width:auto;
    text-align:center;
}
.nav a {
    color: white;
}
.navbar-brand a {
    color: white;
}
